<app-container>
  <h1>Welcome to Pylon</h1>

  <h2>Wallet dApps</h2>

  <app-row>
    <app-column>
      <app-card>
        <h3 cardTitle>NNS</h3>
        <h4 class="h5" cardSubtitle>qoctq-giaaa-aaaaa-aaaea-cai</h4>
        <ng-container cardText>Card component</ng-container>
      </app-card>
    </app-column>

    <app-column>
      <app-card>
        <h3 cardTitle>NNS</h3>
        <h4 class="h5" cardSubtitle>qoctq-giaaa-aaaaa-aaaea-cai</h4>
        <ng-container cardText>Card component</ng-container>
      </app-card>
    </app-column>

    <app-column>
      <app-card>
        <h3 cardTitle>NNS</h3>
        <h4 class="h5" cardSubtitle>qoctq-giaaa-aaaaa-aaaea-cai</h4>
        <ng-container cardText>Card component</ng-container>
      </app-card>
    </app-column>
  </app-row>

  <app-row>
    <app-column>
      <app-card>
        <h3 cardTitle>NNS</h3>
        <h4 class="h5" cardSubtitle>qoctq-giaaa-aaaaa-aaaea-cai</h4>
        <ng-container cardText>Card component</ng-container>
      </app-card>
    </app-column>

    <app-column>
      <app-card>
        <h3 cardTitle>NNS</h3>
        <h4 class="h5" cardSubtitle>qoctq-giaaa-aaaaa-aaaea-cai</h4>
        <ng-container cardText>Card component</ng-container>
      </app-card>
    </app-column>

    <app-column>
      <app-card>
        <h3 cardTitle>NNS</h3>
        <h4 class="h5" cardSubtitle>qoctq-giaaa-aaaaa-aaaea-cai</h4>
        <ng-container cardText>Card component</ng-container>
      </app-card>
    </app-column>
  </app-row>
</app-container>
